<%- include("header") -%>
<h1>About Us</h1>
<p>hnfghf fgh  dfgdfg dgr ggrgerytew46 46  hhethtt  tyrr yyrty  6 5u56ur uwaewtyjtfh tytr g rrrrrgrg gsdfgsd df dfgr ytyrety erer yery er ye </p>
<%- include("footer") -%>